* {
	box-sizing: border-box;
}

body {

	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

header {
	max-width: 550px;
	margin: 0 auto;
	text-align: center;
}


article {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	column-gap: 100px;
	row-gap: 100px;
}

.article-here {
	flex: 1 1 350px;
	min-width: 280px;
	max-width: 500px;
}

img {
	width: 100%;
	max-width: 500px;
	height: auto;
	aspect-ratio: 16/9;
	object-fit: cover;
	min-width: 200px;
	min-height: 120px;
}